*.o
*.out
*.pyc
*.credentials
!/program/example.credentials
*.prefs
!/program/example.prefs
/program/node_modules/
/program/tmp/
/program/run.build/
/program/workloads/*
!/program/workloads/test.workload
/program/output/*
*.dat
*.vscode
