*.o
*.out
*.pyc
*.credentials
!/program/example.credentials
*.prefs
!example.prefs
/node_modules/
/NodePGS/node_modules/
/tmp/
/run.build/
/workloads/*
!/workloads/test.workload
/program/output/*
!/program/output/
*.dat
*.vscode
/build/